<!-- <br>
<div class="header mt-4">
    <h3 class="text-center">แสดงรายชื่อนักศึกษา</h3>
</div>
<div class="container">
    <div align="end">
        <button class="btn btn-primary" routerLink="/create">เพิ่มข้อมูล</button>
    </div>
    <table class="table shadow rounded" id="table-view-student">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ชื่อ</th>
                <th scope="col">นามสกุล</th>
                <th scope="col">Username</th>
                <th scope="col">แก้ไข</th>
                <th scope="col">ลบ</th>
            </tr>
            
        </thead>
        <tbody>
            @for (student of dataStudents; track $index) {
            <tr>
                <th scope="row">{{student.id}}</th>
                <td>{{student.fname}}</td>
                <td>{{student.lname}}</td>
                <td>{{student.username}}</td>
                <td>
                    <button class="btn btn-warning" [routerLink]="['/edit-student']"  [queryParams]="{id: student.id}">
                        <img src="icon/edit.svg" class="img-edit">
                    </button>
                </td>
                <td><button class="btn btn-danger" (click)="deleteStudent(student.id)">
                        <img src="icon/delete.svg" class="img-delete">
                    </button></td>
            </tr>
            }
        </tbody>
    </table>
</div> -->

<div class="container p-2 bg-danger">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ชื่อ - นามสกุล</th>
                <th>บัญชีผู้ใช้</th>
                <th>แก้ไข</th>
                <th>ลบ</th>
            </tr>
        </thead>
        <tbody>
            @for (student of dataStudents; track $index) {
            <tr>
                <td>
                    {{student.fname}} - {{student.lname}}
                </td>
                <td> {{student.username}}</td>
                <td><button  class="btn btn-warning" [routerLink]="['/edit']"  [queryParams]="{id: student.id}"> แก้ไข</button></td>
                <td><button class="btn btn-danger" (click)="deleteStudent(student.id)"> ลบ</button></td>
            </tr>
            }

        </tbody>
    </table>
</div>